<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berry.eagleeye.auth.security.dao.mapper.UserMapper">

    <select id="getRolesByUserId" resultType="com.berry.eagleeye.auth.security.dao.entity.RoleInfo"
            parameterType="java.lang.Integer">
        select b.* from user_and_role a
        left join role_info b on a.role_id = b.id
        <where>
            <if test="userId != null">
                and a.user_id = #{userId}
            </if>
        </where>

    </select>

</mapper>
